@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
	margin: 0;
	font-family: roboto;
	box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}


header {
  background-color: #FFBF85;

}


li {
list-style: none;
text-transform: uppercase;
font-weight: 600;
}

li a.Nav {
color: #fff;
letter-spacing: 1.2px;
display: block;
padding: 14px 16px;
margin: 0;

}
li:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

li a.Nav:hover {
    background-color: #fff;
    color: #FFBF85;
}
ul {
padding: 1px;
display: flex;
justify-content: flex-end;
align-items: center;

}

li img {
width: 39px;

}



/*bar de nav responsible*/
@media only screen and (max-width: 750px) {

  header {
    position: relative;
    display: block;
    float: right;
    height: 50px;
    cursor: pointer;

    &:after{
      content:'';
      position: absolute;
      display: block;
      width: 16px;
      height: 0;
      @include box-shadow:(0 10px 0 1px #fff);
    }
  }

}
